/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

/* Colors */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Red Hat Display', sans-serif;
  --white: #F2F9F5;
  --black: #02140D;
  --green: #0E5B3F;
  --green-bis: #1A7C54;
}

body, html {
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--white);
}

/*
////////////////
//Haut de page//
////////////////
*/
.header {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(../img/bgsite2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header #navbar {
  position: fixed;
  z-index: 1;
  width: 90%;
  height: 100px;
  border-bottom: 3px solid var(--black);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  transition: 0.2s;
}

.header #navbar.scroll-active {
  width: 100%;
  height: 60px;
  padding: 0 5%;
  background: var(--white);
}

.header #navbar .logo {
  width: 100px;
}

.header #navbar .menu-nav {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.header #navbar .menu-nav .item-nav {
  text-decoration: none;
  color: var(--black);
  font-size: 22px;
  font-weight: 500;
  margin-left: 40px;
  transition: 0.2s;
}

.header #navbar .menu-nav .item-nav:hover {
  color: var(--green);
}

.header #navbar .menu-burger {
  display: none;
  background: none;
  border: none;
  font-size: 20px;
}

.header .hero-banner {
  width: 90%;
  height: calc(100vh + 100px);
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header .hero-banner .txt-content .title {
  font-family: 'DM Serif Display', serif;
  font-size: 60px;
  font-weight: 900;
  line-height: 100%;
  color: var(--green);
  margin-bottom: 20px;
}

.header .hero-banner .txt-content .subtitle {
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 70px;
}

.header .hero-banner .txt-content .box-btn {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.header .hero-banner .txt-content .box-btn .btn {
  text-decoration: none;
  padding: 20px;
  font-size: 22px;
  margin-right: 50px;
  background: #0E5B3F;
  color: var(--white);
  border: 4px solid var(--green);
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s;
}

.header .hero-banner .txt-content .box-btn .btn:hover {
  background: none;
  color: var(--green);
}

.header .hero-banner .txt-content .box-btn .btn.btn-border {
  background: none;
  color: var(--green);
}

.header .hero-banner .txt-content .box-btn .btn.btn-border:hover {
  background: #0E5B3F;
  color: var(--white);
}

/* 
///////////
//Section//
///////////
*/
.section {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}

.section .title-section-content{
  width: 100%;
}

.section .title-section-content .title-section {
  width: 100%;
  margin-bottom: 100px;
}

/* Section: INFOS */
.section .desc-content {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.section .desc-content .img-desc {
  width: 500px;
  margin-left: 13px;
  transform: rotateZ(-5deg);
}

.section .desc-content .txt-desc {
  margin-left: 100px;
  font-size: 20px;
}

.section .desc-content .txt-desc span {
  font-size: 60px;
  color: #0e5b3f;
  font-family: "DM Serif Display", serif;
}

.section .container-how {
  width: 100%;
  padding-top: 100px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.section .container-how .card-how {
  width: 400px;
  height: 250px;
  margin: 10px;
  margin-top: 60px;
  border: 4px solid #0e5b3f;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section .container-how .card-how .box-icon-how {
  width: 100px;
  height: 100px;
  border: 4px solid #0e5b3f;
  background: #f2f9f5;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -50px;
}

.section .container-how .card-how .box-icon-how i {
  font-size: 50px;
  color: #0e5b3f;
}

.section .container-how .card-how .box-desc-how {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.section .container-how .card-how .box-desc-how .title-how {
  margin: 20px;
  font-size: 40px;
  color: #0e5b3f;
  font-family: "DM Serif Display", serif;
}

.section .container-how .card-how .box-desc-how .desc-how {
  margin-left: 30px;
  margin-right: 30px;
  font-size: 20px;
}

/* Section: PORTFOLIO */

/* Section: ME CONTACTER */

/*
////////////////
//Pied de page//
////////////////
*/

/*
//////////////////////
//Ecran incompatible//
//////////////////////
*/
.little-screen {
  display: none;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.little-screen i.alert {
  font-size: 80px;
  color: var(--green);
}

.little-screen .txt-ls {
  font-family: 'DM Serif Display', serif;
  font-size: 30px;
  font-weight: 900;
  color: var(--green);
  margin-top: 20px;
  text-align: center;
}

.little-screen .subtxt-ls {
  font-size: 18px;
  text-align: center;
  margin: 20px 50px;
}

/*
//////////////
//Responsive//
//////////////
*/
@media screen and (max-width: 1035px) {
  /* body .header #navbar .menu-nav {
    display: none;
  }

  body .header #navbar .menu-burger {
    display: block;
  } */
  
  body .section .desc-content {
    flex-direction: column;
  }

  body .section .desc-content .txt-desc {
    margin-left: 0;
    margin-top: 100px;
  }

  body .section .container-how {
    margin-top: 150px;
  }
}

@media screen and (max-width: 700px) {
  body .header {
    display: none;
  }

  body .section {
    display: none;
  }

  body .footer {
    display: none;
  }

  body .little-screen {
    display: flex;
  }
}