@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

:root {
  --color-primary: #EF501E;
  --color-secondary: #120400;
  --color-light: #FDF6F3;
  --color-dark: #320E02;
  --color-muted: #908986;

  --font: 'Poppins', sans-serif;
  --font-bis: 'Abril Fatface', cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
  color: var(--color-dark);
}

body, html {
  scroll-behavior: smooth;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

h1 {
  font-size: 64px;
  font-weight: normal;
  font-family: var(--font-bis);
}

h2 {
  font-size: 36px;
  text-transform: uppercase;
}

h3 {
  font-size: 24px;
  text-transform: uppercase;
}

h4 {
  font-size: 18px;
  text-transform: uppercase;
}

h5 {
  font-size: 16px;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

p {
  font-size: 18px;
}

/* HEADER */
header {
  width: 80%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header nav {
  z-index: 999;
  width: 100%;
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 64px;
}

header nav .logo {
  width: 95px;
}

header nav .menu {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 32px;
}

header nav .menu .item a {
  color: var(--color-muted);
}

header nav .menu .item.selected a {
  color: var(--color-dark);
}

header nav .menu .item a:hover {
  color: var(--color-primary);
}

header .hero {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

header .hero .left {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

header .hero .left .overtitle {
  padding-left: 46px;
}

header .hero .left .overtitle::before {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  left: 0;
  background: var(--color-primary);
}

header .hero .left .subtitle {
  color: var(--color-muted);
}

header .hero .left .box-cta {
  margin-top: calc(32px + 20px);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
}

header .hero .left .box-cta .cta {
  background: #EF501E;
  color: var(--color-light);
  border-radius: 25px;
  padding: 20px 40px;
  transition: all 300ms ease;
}

header .hero .left .box-cta .cta:hover {
  box-shadow: 0 10px 30px var(--color-primary);
}

header .hero .left .box-cta .cta-bis {
  display: flex;
  flex-direction: column;
  margin-top: -20px;
  transition: all 300ms ease;
}

header .hero .left .box-cta .cta-bis::after {
  content: '';
  position: absolute;
  width: 204px;
  height: 15px;
  margin-top: 25px;
  background: var(--color-primary);
  transition: all 300ms ease;
}

header .hero .left .box-cta .cta-bis:hover {
  margin-top: -13px;
}

header .hero .left .box-cta .cta-bis:hover::after {
  height: 2px;
}

header .hero .right .pp {
  position: absolute;
  width: 30%;
  top: 0;
  right: 20%;
  border-bottom-right-radius: 15%;
  border-bottom-left-radius: 15%;
}

header .hero .right .deco {
  position: absolute;
  top: 100px;
  right: 14%;
}

header .hero .right .deco.bis {
  top: 70%;
  right: 40%;
  z-index: -1;
}

.error {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.error.screen {
  display: none;
}

@media only screen and (max-width: 1340px) {
  header .hero {
    position: relative;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  header .hero .left {
    position: relative;
    width: 100%;
    align-items: center;
  }
  
  header .hero .left .overtitle {
    padding: 0;
  }

  header .hero .left .overtitle::before {
    display: none;
  }

  header .hero .right .pp {
    display: none;
  }

  header .hero .right .deco {
    display: none;
  }
}

@media only screen and (max-width: 783px) {
  header {
    display: none;
  }

  main {
    display: none;
  }

  footer {
    display: none;
  }

  .error {
    display: none;
  }

  .error.screen {
    display: flex;
  }
}