@import "../libs/reset.scss";

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

// font-family: 'Red Hat Display', sans-serif;
// font-family: 'DM Serif Display', serif;

$green: #0e5b3f;
$white: #f2f9f5;
$black: #02140d;

body, html {
  scroll-behavior: smooth;
  background: $white;
  // min-width: 933px;
}

* {
  color: $black;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 500;
}

.header {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  .navbar {
    position: fixed;
    z-index: 1000;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    // min-width: 933px;

    #top-nav {
      width: 90%;
      height: 100px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      background: $white;
      transition: 0.2s;

      .link-home {
        .logo {
          width: 100px;
          
          &.bis {
            display: none;
          }
        }
      }
  
      .menu-nav {
        display: flex;
        flex-direction: row;
        
        .link-item-nav {
          text-decoration: none;
          font-size: 20px;
          margin-left: 40px;
          
          &:hover {
            color: $green;
          }
        }
      }

      &.scroll-active {
        // width: 100%;
        height: 60px;
        // background: $green;
        // padding-left: 5%;
        // padding-right: 5%;

        // .logo {
        //   // display: none;

        //   &.bis {
        //     // display: flex;
        //   }
        // }
        
        // .link-item-nav {
        //   // color: $white;
        // }
      }

      .menu-burger {
        display: none;
        background: none;
        border: none;
        font-size: 20px;
      }
    }

    #trait {
      width: 90%;
      border: 1px solid $black;
      transition: 0.2s;

      // &.scroll-active {
      //   // width: 100%;
      //   // border: 1px solid $green;
      // }
    }
  }

  .hero-banner {
    margin-top: 100px;
    width: 90%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .left {
      margin-right: 50px;

      .logo-gif {
        width: 600px;
      }
    }

    .right {
      margin-top: -50px;

      .box-title {
        margin-bottom: 50px;

        .title {
          font-size: 60px;
          font-family: 'DM Serif Display', serif;
          color: $green;
        }
  
        .subtitle {
          font-size: 20px;
        }
      }

      .box-btn {
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        .title-btn {
          text-decoration: none;
          background: $green;
          color: $white;
          border: 3px solid $green;
          font-size: 18px;
          padding: 20px;
          transition: 0.2s;

          &.bis {
            margin-left: 20px;
            font-weight: 800;
            background: $white;
            color: $green;

            &:hover {
              background: $green;
              color: $white;
            }
          }

          &:hover {
            background: $white;
            color: $green;
          }
        }
      }
    }
  }
}

.section {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .title-section-box {
    width: 90%;
    height: 400px;
    margin-top: -60px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .img-section {
      width: 90%;
      position: absolute;
    }

    .title-section {
      position: absolute;
      font-family: 'DM Serif Display', serif;
      font-size: 7vw;
      color: $white;
      background: #1a7c54;
      padding: 2vw 10vw 2vw 10vw;
      // padding: 20px 100px 20px 100px;
    }
  }

  .container-desc {
    width: 90%;
    height: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;

    .img-desc {
      position: absolute;
      width: 500px;
      margin-left: 13px;
      transform: rotateZ(-5deg);
    }

    .txt-desc {
      margin-left: 600px;
      font-size: 20px;

      span {
        font-size: 60px;
        color: $green;
        font-family: 'DM Serif Display', serif;
      }
    }
  }

  .container-how {
    padding-top: 100px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;

    .card-how {
      width: 400px;
      height: 250px;
      margin: 10px;
      margin-top: 60px;
      border: 4px solid $green;
      display: flex;
      flex-direction: column;
      align-items: center;

      .box-icon-how {
        width: 100px;
        height: 100px;
        border: 4px solid $green;
        background: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -50px;

        i {
          font-size: 50px;
          color: $green;
        }
      }

      .box-desc-how {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        .title-how {
          margin: 20px;
          font-size: 40px;
          color: $green;
          font-family: 'DM Serif Display', serif;
        }

        .desc-how {
          margin-left: 30px;
          margin-right: 30px;
          font-size: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 1035px) {
  body {
    .header {
      .navbar {
        #top-nav {
          .menu-nav {
            display: none;
          }

          .menu-burger {
            display: block;
          }
        }
      }

      .hero-banner {
        flex-direction: column;

        .left {
          margin-right: 0;
          margin-bottom: 50px;
        }
      }
    }
  }

  .section {
    .container-desc {
      flex-direction: column;

      .img-desc {
        width: 50vw;
        margin-top: -60px;
      }

      .txt-desc {
        margin-left: 0;
        margin-top: 35vw;
      }
    }
  }
}

@media screen and (max-width: 440px) {
  body {
    .header {
      .hero-banner {
        .right {
          .box-btn {
            flex-direction: column;
            .title-btn {
              &.bis {
                margin-left: 0;
                margin-top: 20px;
              }
            }
          }
        }
      }
    }
  }
}