@import "../libs/reset.scss";

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

// font-family: 'Red Hat Display', sans-serif;
// font-family: 'DM Serif Display', serif;

$green: #0e5b3f;
$white: #f2f9f5;
$black: #02140d;

body, html {
  scroll-behavior: smooth;
  background: $white;
  // min-width: 933px;
}

* {
  color: $black;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 500;
}

.header {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .title {
    font-size: 60px;
    color: $green;
    font-family: 'DM Serif Display', serif;
  }
}